<!--サクセスメッセージ-->
<font color="green">
  <% if flash[:notice] %>
    <p id = "notice">
      <%= flash[:notice] %>
    </p>
  <% end %>
</font>

<div class="container">
  <div class="row">
    <div class="col-md-3 pt-3">
      <!--部分テンプレート-->
      <%= render 'users/user_info', user: @user %>
      <div class="book_new">
      <h2>New book</h2>
        <%= form_with model:@book_new, local:true do |f| %>
        <p>Title</p>
        <%= f.text_field :title, class: 'form-control' %>
        <p>body</p>
        <%= f.text_area :body, class: 'form-control' %><br />
        <%= f.submit 'Create Book', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1 pt-3">
    <div class="book">
    <h2>Book detail</h2>
      <table class="table">
        <tbody>
        <tr>
        <td>
          <%= link_to user_path(@user.id) do %>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
            <br />
            <%= @user.name %>
          <% end %>
        </td>
        <td><%= link_to @book.title, book_path(@book) %></td>
        <td><%= @book.body %></td>
        <td class="favorites-<%= @book.id %>">
          <%= render 'favorites/favorite-btn', book: @book %>
        </td>
        <!--もし投稿者＝現在ログインしているユーザだったら表示される-->
        <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book), class: 'btn btn-success btn-sm' %></td>
          <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-danger btn-sm' %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
    </div>
  </div>
</div>