<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <span><%= link_to "Bookers", '/' %></span>
    <!--ログイン後-->
    <% if user_signed_in? %>
      <span>
        <%= link_to "Home", user_path(current_user) %>
      </span>
      <span>
        <%= link_to "Users", users_path %>
      </span>
      <span>
        <%= link_to "Books", books_path %>
      </span>
      <span>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </span>
    <!--ログイン前-->
    <% else %>
      <span>
        <%= link_to "Home", '/'  %>
      </span>
      <span>
        <%= link_to "About", homes_about_path %>
      </span>
      <span>
        <%= link_to "sign up", new_user_registration_path %>
      </span>
      <span>
        <%= link_to "login",new_user_session_path %>
      </span>
    <% end %>
    
    <%= yield %>
  </body>
</html>
